---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ASJR - Latest Updates">
    <section class="section latest-updates">
        <div class="inner-container">
            <h1>Latest Updates</h1>
            <p>
                Add links to articles here.
            </p>
        </div>
    </section>
</Layout>