header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mds-color-theme-background-solid-primary-normal);
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  height: 80px;
  width: 95%;
}

.nav-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}

.nav-localization-toggle {
  padding-top: 4px;
}

.nav-logo {
  color: var(--mds-color-theme-text-primary-normal);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-logo img {
  width: 100%;
  height: 48px;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 4px;
  padding-left: 24px;
}

.nav-menu li {
  border: 1px solid transparent;
}

.nav-menu li a {
  color: var(--mds-color-theme-text-primary-normal);
  text-decoration: none;
  transition: color 0.3s ease;
  border-radius: var(--border-radius);
  padding: 0 12px;
}

.nav-menu li a:hover {
  color: var(--mds-color-theme-text-secondary-normal);
}

.nav-menu li a span {
  padding: 8px 0;
  border-bottom: 2px solid transparent;
}

.nav-menu li a span:hover {
  border-bottom: 2px solid var(--mds-color-theme-text-secondary-normal);
}

.nav-menu li a.active span {
  font-weight: var(--mds-font-weight-bold);
  border-bottom: 2px solid var(--mds-color-theme-text-primary-normal);
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.mds-menu-icon {
  color: var(--mds-color-theme-text-primary-normal);
}

.list-icon {
  position: relative;
  width: 32px;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background: var(--mds-color-theme-text-primary-normal);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.x-icon {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

.x-icon:hover {
  transform: rotate(90deg);
}

.x-icon::before,
.x-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  background: var(--mds-color-theme-text-primary-normal);
  border-radius: 2px;
}

.x-icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.seek-help-cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: var(--mds-font-weight-medium);
  padding: 16px 24px;
  width: 100%;

  font-size: 16px;
}

.seek-help-cta .content-horizontal {
  justify-content: center;
}

/* Mobile styles */
@media screen and (max-width: 1080px) {
  .menu-icon {
    display: flex;
    z-index: 1001;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;

    border-radius: 16px;
    background-color: transparent;
    border: 0;

    font-size: var(--mds-font-size-body-large);
  }

  .menu-icon:hover {
    background-color: var(--mds-color-theme-button-secondary-hover);
    color: var(--mds-color-theme-text-inverted-primary-normal);
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    position: fixed;
    right: -100%;
    top: 64px;
    z-index: 1001;

    background-color: var(--mds-color-theme-background-solid-primary-normal);

    text-align: center;
    transition: right 0.3s ease;
    padding: 0;
    gap: 0;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    padding: 8px 16px;
  }

  .nav-menu li a {
    font-size: 1.2rem;
  }

  .nav-container-right {
    gap: 16px;
  }
}
