/* GetInvolvedForm.css */

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.contact-list {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;

      .get-invovled-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.75rem;
        height: 1.75rem;

        background-color: var(--mds-color-theme-background-accent-normal);

        border-radius: 100%;
        padding: 0.5rem;
        color: var(--mds-color-theme-inverted-text-primary-normal);
      }
    }
  }
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-title::part(text) {
  font-size: clamp(1.75rem, 3vw, 2.5rem);
  line-height: 1.3;
  margin: 0;
}

.form-subtitle::part(text) {
  font-size: 1.5rem;
  line-height: 1.33;
  margin: 0;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: fit-content;
  margin-top: 2.5rem;
}

.action-item {
  width: fit-content;
}

.action-item::part(button) {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
}

.newsletter-form {
  margin-top: 1rem;
}

.newsletter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-row {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.form-row mdc-input {
  flex: 1;
  min-width: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.newsletter-form mdc-button {
  align-self: flex-start;
}

/* Responsive */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .contact-form {
    padding: 0;
  }

  .newsletter-form mdc-button {
    width: 100%;
  }
}
