---
import MomentumProviders from '../components/MomentumProviders.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/momentum.css';

export interface Props {
	title?: string;
	description?: string;
}

const { 
	title = 'ASJR: Advocates for Social Justice Reform', 
	description = 'We advocate for a fairer legal system, ensuring that every individual receives compassionate and competent support throughout the criminal legal process.'
} = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="mds-typography mds-effect mds-theme-stable-lightWebex">
		<MomentumProviders>
			<div class="asjr-main">
				<div class="section">
					<Header />
				</div>
				<main class="main-content">
					<slot />
				</main>
				<div class="section">
					<Footer />
				</div>
			</div>
		</MomentumProviders>
	</body>
</html>
